* {
	font-family: "Open Sans", sans-serif;
}

.hashtag {
	font-size:10px;
	color:#fff;
	padding:1%;
	background:#32CD32;
	font-weight:bold;
}

.project-label {
	background:#333;
	margin-top:20px;
	z-index:10000;
	position:absolute;
	width:100%;

}

/* .project-label > .container {
	-webkit-transform: skewY(-1deg);
	-moz-transform: skewY(-1deg);
	-ms-transform: skewY(-1deg);
	-o-transform: skewY(-1deg);
	transform: skewY(-1deg);
  } */

h1 {
	font-size:36px;
}

h2 {
	font-size:20px;
}

h3 {
	font-size:12px;
}

p, li {
	font-size:14px;
}

.img-name {
	width:100%;
	max-width:130px;
}

.row-grey {
	background-color:#f1f1f1;
	-webkit-clip-path: polygon(0 0%, 100% 6%, 100% 94%, 0% 100%);
    clip-path: polygon(0 0%, 100% 6%, 100% 94%, 0% 100%);
}

.row-grey-bottom {
	background-color:#f1f1f1;
	-webkit-clip-path: polygon(0 0%, 100% 6%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0%, 100% 6%, 100% 100%, 0% 100%);
}

.contact-about {
    /* margin-top:-80px; */
}

html, body {
	padding:0;
	margin:0;
}

.img-software {
	width:80px;
}

.cust-image {
	max-width:240px;
}

.cust-image-wide {
	width:100%;
}

.banner, .bg-blue {
	background:#1E90FF;
}

.bg-green {
	background:#93ca44;
}

.bg-cust-dark {
	background:#333;
}

.contact-drop {
	margin-top:80px;
}

